<div class="jumbotron text-center">
	<h1>{{ main.message }}</h1>
</div>
<div class="container">

	<div class="form-group">
		<input type="text" class="form-control" ng-model="main.search" placeholder="Search">
	</div>

	<table class="table table-striped">
		<tbody>
			<tr ng-repeat="todo in main.todos | filter:main.search">
				<td>{{todo.task}}</td>
				<td>
					<a href="#" ng-click="main.deleteTodo(todo)"><span class="glyphicon glyphicon-remove"></span></a>
				</td>
			</tr>
		</tbody>
	</table>
	<!-- form to add computer to the list -->
	<form class="form-inline" ng-submit="main.addTodo()">
		<input type="text" class="form-control" placeholder="todo" ng-model="main.todo.task">
		<button type="submit" class="btn btn-success">Add</button>
	</form>
</div>